VITE_SUPABASE_URL=https://ljqfzwueugklkycnssrq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqcWZ6d3VldWdrbGt5Y25zc3JxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkyMzE3MTUsImV4cCI6MjA2NDgwNzcxNX0.dQA9Nf5iAXjiiKgj5lfX6-i1ws5trB8or3nnBTwl5HE